# Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn import svm
from sklearn import metrics
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score

# reading dataframe1 from csv files

In [ ]:
dataframe1= pd.read_csv("/content/Acquiring Tech Companies.csv")

# Display first five row of data

In [ ]:
dataframe1.head()

,Acquiring Company,CrunchBase Profile,Image,Tagline,Market Categories,Year Founded,IPO,Founders,Number of Employees,Number of Employees (year of last update),...,Address (HQ),City (HQ),State / Region (HQ),Country (HQ),Description,Homepage,Twitter,Acquired Companies,Acquisitions ID,API
0,Adobe,www.crunchbase.com/organization/adobe-systems,http://a2.images.crunchbase.com/image/upload/c...,Adobe is an American multinational computer so...,"Photo Editing, Design, Creative, Software, Ima...",1982,1986,"John Warnock, Charles Geschke","11,144",2012.0,...,"San Jose, California, United States",San Jose,California,United States,Adobe Systems is an American multinational com...,http://www.adobe.com,http://twitter.com/Adobe,"Accelio Corporation, Aldus Corp, Amicima, Ares...",Adobe Systems acquired Accelio Corporation in ...,http://api.crunchbase.com/v/2/organization/ado...
1,Amazon,www.crunchbase.com/organization/amazon,http://a4.images.crunchbase.com/image/upload/c...,Amazon is an international e-commerce company ...,"Groceries, Consumer Goods, Crowdsourcing, E-Co...",1994,1997,Jeff Bezos,"132,600",2014.0,...,"1200 12th Ave, Seattle, WA 98144, USA",Seattle,Washington,United States,Amazon.com is an American international e-comm...,http://amazon.com,http://twitter.com/amazon,"AbeBooks, Accept.Com, Alexa, Amie Street, Audi...","Amazon acquired AbeBooks in 2008, Amazon acqui...",http://api.crunchbase.com/v/2/organization/ama...
2,AOL,www.crunchbase.com/organization/aol,http://a5.images.crunchbase.com/image/upload/c...,AOL is a Brand company committed to innovating...,"News, Advertising Platforms, Content Creators,...",1985,2009,"Marc Seriff, Steve Case, Jim Kimsey","5,600",2012.0,...,"770 Broadway, New York City, New York, United ...",New York City,New York,United States,AOL is a global advertising-supported Web comp...,http://www.aol.com,http://twitter.com/aol,"5min Media, Adap.tv, ADTECH, Advertising.com, ...","AOL acquired 5min Media in 2010, AOL acquired ...",http://api.crunchbase.com/v/2/organization/aol...
3,Apple,www.crunchbase.com/organization/apple,http://a4.images.crunchbase.com/image/upload/c...,Apple is a multinational corporation that desi...,"Computers, Consumer Electronics, Hardware + So...",1976,1980,"Steve Jobs, Ronald Wayne, Steve Wozniak","98,000",2014.0,...,"1 Infinite Loop, Cupertino, California, United...",Cupertino,California,United States,Apple is an American multinational corporation...,http://www.apple.com,NaN,"AlgoTrim, Anobit Technologies, AuthenTec, Beat...","Apple acquired AlgoTrim in 2013, Apple acquire...",http://api.crunchbase.com/v/2/organization/app...
4,AT&T,www.crunchbase.com/organization/at-t,http://a4.images.crunchbase.com/image/upload/c...,AT&T provides telecommunications services such...,Mobile,2000,1983,Alexander Graham Bell,"246,740",2013.0,...,"208 S. Akard St, Dallas, Texas, United States",Dallas,Texas,United States,AT&T Inc. AT&T is a holding company. AT&T is a...,http://www.att.com,http://twitter.com/ATT,"Centennial Communications Corp, Dobson Communi...",AT&T acquired Centennial Communications Corp i...,http://api.crunchbase.com/v/2/organization/at-...

# Data format recognition

In [ ]:
dataframe1.describe()

,Year Founded,Number of Employees (year of last update),Total Funding ($),Number of Acquisitions
count,36.000000,35.000000,3.600000e+01,36.000000
mean,1978.388889,2018.542857,1.072673e+09,44.833333
std,28.903067,21.230310,4.999370e+09,44.675657
min,1865.000000,2012.000000,0.000000e+00,4.000000
25%,1974.000000,2013.000000,0.000000e+00,12.000000
50%,1983.500000,2014.000000,0.000000e+00,27.500000
75%,1995.250000,2014.000000,1.419859e+08,57.750000
max,2009.000000,2104.000000,3.007950e+10,162.000000

In [ ]:
dataframe1.shape

(36, 23)

In [ ]:
dataframe1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 23 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Acquiring Company                          36 non-null     object
 1   CrunchBase Profile                         36 non-null     object
 2   Image                                      36 non-null     object
 3   Tagline                                    36 non-null     object
 4   Market Categories                          36 non-null     object
 5   Year Founded                               36 non-null     int64
 6   IPO                                        35 non-null     object
 7   Founders                                   36 non-null     object
 8   Number of Employees                        35 non-null     object
 9   Number of Employees (year of last update)  35 non-null     float64
 10  Total Funding ($)                          36 non-null     int64
 11  Number of Acquisitions                     36 non-null     int64
 12  Board Members                              34 non-null     object
 13  Address (HQ)                               36 non-null     object
 14  City (HQ)                                  34 non-null     object
 15  State / Region (HQ)                        33 non-null     object
 16  Country (HQ)                               36 non-null     object
 17  Description                                36 non-null     object
 18  Homepage                                   36 non-null     object
 19  Twitter                                    35 non-null     object
 20  Acquired Companies                         36 non-null     object
 21  Acquisitions ID                            36 non-null     object
 22  API                                        36 non-null     object
dtypes: float64(1), int64(3), object(19)
memory usage: 6.6+ KB

In [ ]:
dataframe1.columns

Index(['Acquiring Company', 'CrunchBase Profile', 'Image', 'Tagline',
       'Market Categories', 'Year Founded', 'IPO', 'Founders',
       'Number of Employees', 'Number of Employees (year of last update)',
       'Total Funding ($)', 'Number of Acquisitions', 'Board Members',
       'Address (HQ)', 'City (HQ)', 'State / Region (HQ)', 'Country (HQ)',
       'Description', 'Homepage', 'Twitter', 'Acquired Companies',
       'Acquisitions ID', 'API'],
      dtype='object')

In [ ]:
dataframe1.isnull().sum()

Acquiring Company                            0
CrunchBase Profile                           0
Image                                        0
Tagline                                      0
Market Categories                            0
Year Founded                                 0
IPO                                          1
Founders                                     0
Number of Employees                          1
Number of Employees (year of last update)    1
Total Funding ($)                            0
Number of Acquisitions                       0
Board Members                                2
Address (HQ)                                 0
City (HQ)                                    2
State / Region (HQ)                          3
Country (HQ)                                 0
Description                                  0
Homepage                                     0
Twitter                                      1
Acquired Companies                           0
Acquisitions ID                              0
API                                          0
dtype: int64

# Check Outliers of data

In [ ]:
dataframe1['Number of Employees'] = pd.to_numeric(dataframe1['Number of Employees'], errors='coerce').astype('float64')
dataframe1['IPO'] = pd.to_numeric(dataframe1['IPO'], errors='coerce').astype('float64')
columns = ['Year Founded', 'Number of Employees','Number of Acquisitions','Total Funding ($)','Number of Employees (year of last update)']

for i in columns:
    q1 = np.percentile(dataframe1[i], 25)
    q3 = np.percentile(dataframe1[i], 75)
    norm_range = (q3 - q1) * 1.5
    # Identify lower outliers
    lower_outliers = dataframe1[dataframe1[i] < (q1 - norm_range)]
    # Identify upper outliers
    upper_outliers = dataframe1[dataframe1[i] > (q3 + norm_range)]
    # Count the total number of outliers
    outliers = len(lower_outliers) + len(upper_outliers)
    print(f"The number of outliers in {i}: {outliers}")
    # Replace outliers with adjusted values
    dataframe1[i] = np.where(dataframe1[i] < (q1 - norm_range), q1 - norm_range, dataframe1[i])
    dataframe1[i] = np.where(dataframe1[i] > (q3 + norm_range), q3 + norm_range, dataframe1[i])

The number of outliers in Year Founded: 0
The number of outliers in Number of Employees: 0
The number of outliers in Number of Acquisitions: 0
The number of outliers in Total Funding ($): 0
The number of outliers in Number of Employees (year of last update): 0

# Remove duplicated rows

In [ ]:
dataframe1 = dataframe1.duplicated()

#Dealing with nulls in data

In [ ]:
#Replace NULL with mean values
dataframe1['Number of Employees'].fillna(dataframe1['Number of Employees'].mean(),inplace=True)
dataframe1['Number of Employees (year of last update)'].fillna(dataframe1['Number of Employees (year of last update)'].median(),inplace=True)
dataframe1["IPO"] = dataframe1["IPO"].replace("Not yet", 0)
dataframe1["IPO"] = pd.to_numeric(dataframe1["IPO"], errors='coerce')
dataframe1["IPO"].fillna(dataframe1["IPO"].mean(), inplace=True)
dataframe1["IPO"] = np.floor(dataframe1["IPO"])
#Replace NULL with mode values
dataframe1["State / Region (HQ)"].fillna(dataframe1["State / Region (HQ)"].mode()[0],inplace=True)
dataframe1["City (HQ)"].fillna(dataframe1["City (HQ)"].mode()[0],inplace=True)
#Replace NULL with unknown
dataframe1["Twitter"] = dataframe1["Twitter"].fillna("Unknown")
dataframe1["Board Members"] = dataframe1["Board Members"].fillna("Unknown")

# Check nulls in data after replace

In [ ]:
dataframe1.isnull().sum()

Acquiring Company                            0
CrunchBase Profile                           0
Image                                        0
Tagline                                      0
Market Categories                            0
Year Founded                                 0
IPO                                          0
Founders                                     0
Number of Employees                          0
Number of Employees (year of last update)    0
Total Funding ($)                            0
Number of Acquisitions                       0
Board Members                                0
Address (HQ)                                 0
City (HQ)                                    0
State / Region (HQ)                          0
Country (HQ)                                 0
Description                                  0
Homepage                                     0
Twitter                                      0
Acquired Companies                           0
Acquisitions ID                              0
API                                          0
dtype: int64

# Encoding categorical data

In [ ]:
label_encoder = LabelEncoder()
dataframe1["State / Region_encoded"] = label_encoder.fit_transform(dataframe1["State / Region (HQ)"].astype(str))
dataframe1["Country_encoded"] = label_encoder.fit_transform(dataframe1["Country (HQ)"].astype(str))
dataframe1["City_encoded"] = label_encoder.fit_transform(dataframe1["City (HQ)"].astype(str))